@import "tailwindcss";

:root {
  /* Gray  */
  --gray-50: #f5f5f5;
  --gray-100: #d5d5d5;
  --gray-150: #d4d4d4;
  --gray-175: #cbd5e1;
  --gray-200: #d1d5db;
  --gray-250: #bdbdbd;
  --gray-275: #c8c8c8;
  --gray-300: #b5b5b5;
  --gray-350: #b0b0b0;
  --gray-400: #a8a8a8;
  --gray-450: #9ca3af;
  --gray-475: #94a3b8;
  --gray-500: #909090;
  --gray-550: #808080;
  --gray-600: #707070;
  --gray-650: #6b6b6b;
  --gray-700: #606060;
  --gray-750: #5a5a5a;
  --gray-800: #555555;
  --gray-850: #4b4b4b;
  --gray-900: #4a4a4a;
  --gray-950: #444444;
  --gray-1000: #404040;
  --gray-1050: #3f3f3f;
  --gray-1100: #3c3c3c;
  --gray-1150: #353535;
  --gray-1200: #303030;
  --gray-1225: #334155;
  --gray-1250: #2f2f2f;
  --gray-1275: #2c2c2c;
  --gray-1300: #2b2b2b;
  --gray-1350: #272727;
  --gray-1400: #262626;
  --gray-1450: #232323;
  --gray-1500: #202020;
  --gray-1550: #1f1f1f;
  --gray-1600: #111827;
  --gray-1650: #1e293b;

  /* White  */
  --white-50: #ffffff;
  --white-100: #f8fafc;
  --white-200: #f5f5f5;
  --white-300: #f3f3f3;
  --white-400: #f0f0f0;
  --white-500: #ececec;
  --white-600: #e5e5e5;
  --white-650: #e8e8e8;
  --white-700: #eef2f7;
  --white-750: #e5e7eb;

  /* Black  */
  --black-100: #000000;

  /* Blue  */
  --blue-100: #76d8f7;
  --blue-200: #64c3ff;
  --blue-300: #62bbf3;
  --blue-400: #5abef7;
  --blue-500: #55afff;
  --blue-600: #4f9dff;
  --blue-700: #38bdf8;
  --blue-800: #0284c7;
  --blue-900: #2563eb;
  --blue-1000: #1d4ed8;
  --blue-1100: #1976d2;
  --blue-1200: #7aa2ff;
  --blue-1250: #60a5fa;
  --blue-1300: #3b82f6;

  /* Purple  */
  --purple-100: #a78bfa;
  --purple-200: #7c3aed;

  /* Green  */
  --green-100: #68d560;
  --green-200: #22c55e;
  --green-300: #16a34a;

  /* Yellow  */
  --yellow-100: #ffdb42;
  --yellow-200: #fbbf24;
  --yellow-300: #f59e0b;

  /* Red  */
  --red-100: #ff644c;
  --red-200: #ef4444;
  --red-300: #dc2626;

  /* Misc  */
  --teal-hover: #2e3a46;
  --blue-action: #335d77;

  --app-primary: var(--gray-1500);
  --app-surface: var(--gray-1350);
  --app-surface-elevated: var(--gray-1000);
  --app-surface-secondary: var(--gray-900);
  --app-surface-tertiary: var(--gray-850);

  /* Text */
  --app-text-primary: var(--white-400);
  --app-text-secondary: var(--gray-100);
  --color-text-light: var(--white-300);
  --color-text-soft-white: var(--white-500);
  --color-text-muted: var(--gray-100);
  --color-text-muted-secondary: var(--gray-250);
  --color-text-muted-light: var(--gray-150);

  /* Divider */
  --app-divider: var(--gray-600);

  /* Border */
  --app-default-border: var(--gray-350);
  --app-default-border-strong: var(--gray-500);
  --component-toolbar-divider: var(--gray-950);
  --component-active-border: var(--blue-100);
  --component-border: var(--blue-500);
  --component-hover-border: var(--blue-1200);

  /* Workflow */
  --app-default-edge: var(--gray-500);
  --app-default-node: var(--gray-1150);

  /* Success */
  --app-node-selection-success-border: var(--green-100);
  --app-node-selection-border: var(--blue-200);
  --app-node-selection-success-tint: #68d5604d;
  --app-node-selection-tint: #afddf533;

  /* Workflow Node Success */
  --app-node-success-background: var(--black-100);
  --app-node-success-tint: #68d5601a;
  --app-node-success-border: #68d56080;

  /* Workflow Node Warning */
  --app-node-warning-background: var(--black-100);
  --app-node-warning-tint: #ffdb4266;
  --app-node-warning-border: var(--yellow-100);

  /* Workflow Node Error */
  --app-node-error-background: var(--black-100);
  --app-node-error-tint: #ff644c4d;
  --app-node-error-border: var(--red-100);

  /* Action */
  --app-action-primary: var(--blue-200);
  --app-action-secondary: var(--gray-275);

  /* Badges */
  /* Neutral */
  --app-badge-neutral-bg: var(--gray-1000);
  --app-badge-neutral-outline: var(--gray-100);
  --app-badge-neutral-text: var(--gray-100);

  /* Success */
  --app-badge-success-bg: var(--green-100);
  --app-badge-success-outline: var(--green-100);
  --app-badge-success-text: var(--white-50);

  /* Warning */
  --app-badge-warning-bg: var(--yellow-100);
  --app-badge-warning-outline: var(--yellow-100);
  --app-badge-warning-text: var(--gray-1200);

  /* Error */
  --app-badge-error-bg: var(--red-100);
  --app-badge-error-outline: var(--red-100);
  --app-badge-error-text: var(--white-50);

  /* Info */
  --app-badge-info-bg: var(--blue-200);
  --app-badge-info-outline: var(--blue-200);
  --app-badge-info-text: var(--white-50);

  /* Brand */
  --color-primary: var(--blue-900);
  --color-primary-hover: var(--blue-1000);
  --color-secondary: var(--purple-200);

  /* Backgrounds */
  --color-background: var(--white-50);
  --color-surface: var(--white-100);
  --color-card: var(--white-50);
  --background-primary-container: var(--gray-1000);
  --app-code-background: var(--gray-1300);
  --app-background-light: var(--white-600);
  --component-background-item-hover: var(--gray-1100);
  --app-surface-background: var(--gray-800);
  --component-action-primary: var(--blue-action);
  --app-background: var(--gray-1550);
  --component-hover-background: var(--teal-hover);
  --component-header-background: var(--gray-1400);

  /* Text */
  --color-text-primary: var(--gray-1600);
  --color-text-secondary: var(--gray-100);
  --color-text-disabled: var(--gray-450);
  --color-text-accent: var(--gray-100);

  /* Border */
  --color-border: var(--white-750);
  --color-border-1: var(--gray-600);
  --component-card-border: var(--gray-1200);
  --app-border-muted: var(--gray-450);

  /* Fixed Toast/Notification colors  */
  --color-panel-bg: var(--gray-1350);
  --color-toast-bg: var(--gray-1000);
  --color-toast-title: var(--white-400);
  --color-badge-icon: var(--gray-1200);
  --color-badge-success-bg: var(--green-100);

  /* Status */
  --color-success: var(--green-300);
  --color-warning: var(--yellow-300);
  --color-danger: var(--red-300);
  --color-info: var(--blue-800);
  --semantic-bad: var(--red-100);

  /* Tabs */
  --color-tab-active-border: var(--blue-200);
  --color-tab-active-text: var(--white-50);
  --color-tab-inactive-text: var(--gray-100);
  --color-tab-container-bg: var(--gray-750);
  --color-tab-active-bg: var(--gray-1050);

  /* Table */
  --color-table-header: var(--white-300);
  --color-table-row-odd: var(--white-50);
  --color-table-row-even: var(--white-100);
  --color-table-row-hover: var(--white-700);
  --color-table-border: var(--gray-200);

  /* Button */
  --color-button-primary: var(--blue-200);
  --color-button-primary-hover: var(--blue-400);
  --color-button-secondary: var(--white-200);
  --color-button-secondary-hover: var(--white-650);
  --color-button-text-primary: var(--gray-1200);
  --color-button-text-secondary: var(--blue-1100);
  --color-button-focus: var(--blue-300);

  /* Search */
  --color-search-border: var(--gray-650);
  --color-search-background: var(--gray-1250);
  --color-search-placeholder: var(--gray-400);
  --color-search-icon: var(--gray-300);

  /* Toolbar */
  --component-toolbar-background: var(--gray-1450);
  --component-accent-primary: var(--blue-600);

  /* Shadows */
  --shadow-card: 0 1px 3px rgba(0, 0, 0, 0.1);

  /* Radius */
  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-lg: 12px;

  /* Segmented Control */
  --component-segmented-control-selected-border: var(--gray-550);
}

/* DARK THEME */
.dark {
  /* Brand */
  --color-primary: var(--blue-1250);
  --color-primary-hover: var(--blue-1300);
  --color-secondary: var(--purple-100);

  /* Backgrounds */
  --color-background: var(--gray-1350);

  /* Dark specific colors (keep as they are) */
  --color-surface: var(--gray-1650);
  --color-card: var(--gray-1275);
  --background-primary-container: var(--gray-1000);
  --app-background-light: var(--white-600);
  --component-background-item-hover: var(--gray-1100);
  --app-surface-background: var(--gray-800);
  --component-action-primary: var(--blue-action);
  --app-background: var(--gray-1550);
  --component-hover-background: var(--teal-hover);
  --component-header-background: var(--gray-1400);

  /* Text */
  --color-text-primary: var(--white-100);

  /* Keep dark specific */
  --color-text-secondary: var(--gray-175);
  --color-text-disabled: var(--gray-475);
  --color-text-light: var(--white-300);
  --color-text-soft-white: var(--white-500);
  --color-text-muted: var(--gray-100);
  --color-text-muted-secondary: var(--gray-250);
  --color-text-muted-light: var(--gray-150);

  /* Border */
  /* Keep dark specific */
  --color-border: var(--gray-1225);
  --app-border-muted: var(--gray-450);
  --component-toolbar-divider: var(--gray-950);
  --component-active-border: var(--blue-100);
  --component-border: var(--blue-500);
  --component-hover-border: var(--blue-1200);

  /* Status */
  --color-success: var(--green-200);
  --color-warning: var(--yellow-200);
  --color-danger: var(--red-200);
  --color-info: var(--blue-700);

  /* Shadow */

  --shadow-card: 0 1px 3px rgba(0, 0, 0, 0.5);

  /* Radius */
  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-lg: 12px;

  /* Tabs */
  --color-tab-active-border: var(--blue-200);
  --color-tab-active-text: var(--white-50);
  --color-tab-inactive-text: var(--gray-100);
  --color-tab-container-bg: var(--gray-750);
  --color-tab-active-bg: var(--gray-1050);

  /* Table */

  /* Keep dark specific */
  --color-table-header: #252525;
  --color-table-row-odd: #2c2c2c;
  --color-table-row-even: #303030;
  --color-table-row-hover: #383838;
  --color-table-border: #454545;

  /* Button */
  --color-button-primary: var(--blue-200);
  --color-button-primary-hover: var(--blue-400);
  --color-button-secondary: var(--gray-1000);
  --color-button-secondary-hover: var(--gray-900);
  --color-button-text-primary: var(--gray-1200);
  --color-button-text-secondary: var(--blue-200);
  --color-button-focus: var(--blue-300);

  /* Search */
  --color-search-border: var(--gray-650);
  --color-search-background: var(--gray-1250);
  --color-search-placeholder: var(--gray-400);
  --color-search-icon: var(--gray-300);

  /* Segmented Control */
  --component-segmented-control-selected-border: var(--gray-550);

  /* Surface */
  --app-surface-secondary: var(--gray-900);
  --app-surface-tertiary: var(--gray-850);

  /* Toolbar */
  --component-toolbar-background: var(--gray-1450);
  --component-accent-primary: var(--blue-600);
}

@theme {
  --font-sans: "Honeywell Sans Web", sans-serif;
  /* Application */
  --color-app-primary: var(--app-primary);

  /* Surfaces */
  --color-app-surface: var(--app-surface);
  --color-app-surface-elevated: var(--app-surface-elevated);
  --color-app-surface-tertiary: var(--app-surface-tertiary);
  --color-app-surface-secondary: var(--app-surface-secondary);

  /* Text */
  --color-app-text-primary: var(--app-text-primary);
  --color-app-text-secondary: var(--app-text-secondary);
  --color-text-light: var(--color-text-light);
  --color-text-soft-white: var(--color-text-soft-white);
  --color-text-muted: var(--color-text-muted);
  --color-text-muted-secondary: var(--color-text-muted-secondary);
  --color-button-secondary: var(--color-button-secondary);
  --color-text-muted-light: var(--color-text-muted-light);

  /* Divider */
  --color-app-divider: var(--app-divider);

  /* Actions */
  --color-app-action-primary: var(--app-action-primary);
  --color-app-action-secondary: var(--app-action-secondary);

  /* Border */
  --color-app-default-border: var(--app-default-border);
  --color-app-default-border-strong: var(--app-default-border-strong);
  --color-app-border-muted: var(--app-border-muted);
  --color-component-toolbar-divider: var(--component-toolbar-divider);
  --color-component-active-border: var(--component-active-border);
  --color-component-border: var(--component-border);
  --color-component-hover-border: var(--component-hover-border);

  /* Workflow Node */
  --color-app-default-node: var(--app-default-node);

  /* Workflow Node Success */
  --color-app-node-success-background: var(--app-node-success-background);
  --color-app-node-success-tint: var(--app-node-success-tint);
  --color-app-node-success-border: var(--app-node-success-border);

  /* Workflow Node Warning */
  --color-app-node-warning-background: var(--app-node-warning-background);
  --color-app-node-warning-tint: var(--app-node-warning-tint);
  --color-app-node-warning-border: var(--app-node-warning-border);

  /* Workflow Node Error */
  --color-app-node-error-background: var(--app-node-error-background);
  --color-app-node-error-tint: var(--app-node-error-tint);
  --color-app-node-error-border: var(--app-node-error-border);

  /* Workflow Node Selection */
  --color-app-node-selection-success-tint: var(
    --app-node-selection-success-tint
  );
  --color-app-node-selection-success-border: var(
    --app-node-selection-success-border
  );
  --app-node-selection-tint: var(--app-node-selection-tint);
  --color-app-node-selection-border: var(--app-node-selection-border);

  /* Workflow Edge */
  --color-app-default-edge: var(--app-default-edge);

  /* Badges */
  /* Neutral */
  --color-app-badge-neutral-background: var(--app-badge-neutral-bg);
  --color-app-badge-neutral-outline: var(--app-badge-neutral-outline);
  --color-app-badge-neutral-text: var(--app-badge-neutral-text);

  /* Success */
  --color-app-badge-success-background: var(--app-badge-success-bg);
  --color-app-badge-success-outline: var(--app-badge-success-outline);
  --color-app-badge-success-text: var(--app-badge-success-text);

  /* Warning */
  --color-app-badge-warning-background: var(--app-badge-warning-bg);
  --color-app-badge-warning-outline: var(--app-badge-warning-outline);
  --color-app-badge-warning-text: var(--app-badge-warning-text);

  /* Error */
  --color-app-badge-error-background: var(--app-badge-error-bg);
  --color-app-badge-error-outline: var(--app-badge-error-outline);
  --color-app-badge-error-text: var(--app-badge-error-text);

  /* Info */
  --color-app-badge-info-background: var(--app-badge-info-bg);
  --color-app-badge-info-outline: var(--app-badge-info-outline);
  --color-app-badge-info-text: var(--app-badge-info-text);

  /* ---------- Colors ---------- */
  --color-primary: var(--color-primary);
  --color-primary-hover: var(--color-primary-hover);
  --color-secondary: var(--color-secondary);

  --color-background-primary-container: var(--background-primary-container);
  --color-component-header-background: var(--component-header-background);
  --color-app-background: var(--app-background);
  --color-app-background-light: var(--app-background-light);
  --color-app-code-background: var(--app-code-background);
  --color-component-action-primary: var(--component-action-primary);
  --color-component-background-item-hover: var(
    --component-background-item-hover
  );
  --color-app-surface-background: var(--app-surface-background);
  --color-background: var(--color-background);
  --color-component-hover-background: var(--component-hover-background);
  --color-surface: var(--color-surface);
  --color-card: var(--color-card);

  --color-text-primary: var(--color-text-primary);
  --color-text-secondary: var(--color-text-secondary);
  --color-text-disabled: var(--color-text-disabled);
  --color-text-accent: var(--color-text-accent);

  --color-border: var(--color-border);
  --color-border-1: var(--color-border-1);
  --color-panel-bg: var(--color-panel-bg);
  --color-toast-bg: var(--color-toast-bg);
  --color-toast-title: var(--color-toast-title);
  --color-badge-icon: var(--color-badge-icon);
  --color-badge-success-bg: var(--color-badge-success-bg);

  --color-success: var(--color-success);
  --color-warning: var(--color-warning);
  --color-danger: var(--color-danger);
  --color-info: var(--color-info);

  --color-tab-active-border: var(--color-tab-active-border);
  --color-tab-active-text: var(--color-tab-active-text);
  --color-tab-inactive-text: var(--color-tab-inactive-text);
  --color-tab-container-bg: var(--color-tab-container-bg);
  --color-tab-active-bg: var(--color-tab-active-bg);

  --color-search-border: var(--color-search-border);
  --color-search-background: var(--color-search-background);
  --color-search-placeholder: var(--color-search-placeholder);
  --color-search-icon: var(--color-search-icon);

  --color-button-text-primary: var(--color-button-text-primary);
  --color-button-secondary: var(--color-button-secondary);

  /* ---------- Typography ---------- */
  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-lg: 1.125rem;
  --text-xl: 1.25rem;
  --text-2xl: 1.5rem;
  --text-3xl: 1.875rem;
  --text-4xl: 2.25rem;
  --text-5xl: 3rem;

  /* ---------- Font Weight ---------- */
  --font-light: 300;
  --font-normal: 400;
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;

  /* ---------- Radius ---------- */
  --radius-sm: var(--radius-sm);
  --radius-md: var(--radius-md);
  --radius-lg: var(--radius-lg);

  /* ---------- Shadow ---------- */
  --shadow-card: var(--shadow-card);

  /* ---------- Table ---------- */
  --color-table-header: var(--color-table-header);
  --color-table-row-odd: var(--color-table-row-odd);
  --color-table-row-even: var(--color-table-row-even);
  --color-table-row-hover: var(--color-table-row-hover);
  --color-table-border: var(--color-table-border);

  /* Segmented Control */
  --color-component-segmented-control-selected-border: var(
    --component-segmented-control-selected-border
  );

  /* Toolbar */
  --color-component-toolbar-background: var(--component-toolbar-background);
  --color-component-accent-primary: var(--component-accent-primary);
}

body {
  background: var(--color-background);
  color: var(--color-text-primary);
  transition:
    background 0.25s ease,
    color 0.25s ease;
}

/* WebKit (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: var(--app-surface);
}

::-webkit-scrollbar-thumb {
  background: var(--gray-700);
  border-radius: 9999px;
  border: 2px solid var(--app-surface);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--gray-500);
}

::-webkit-scrollbar-corner {
  background: var(--app-surface);
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #606060 var(--app-surface);
}

.bg-dot-grid {
  background-image: radial-gradient(
    var(--app-surface-elevated) 1.5px,
    transparent 1.5px
  );
  background-size: 25px 25px;
}
